$mainColor: rgb(255, 230, 70);
$deepBlue : #003049;
$ourWhite: #F6F7F8;
$ourOrange: #F77F00;
$cardWidth: 240px;
$cardHeight: 291px;

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Cabin";
}

body {
    overflow: hidden;
}

// Clear default a, button and input style

a:link,
a:visited,
a:active {
    color: $deepBlue;
    text-decoration: none;
    cursor: pointer;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}

input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}

// Cleat default list style

ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
    border: 0;
}

li {
    list-style: none;
}

// Template 

#template {
    transition: 1s ease;
    ul{
        transition: 1s;
    }
    .mainArea>div{
        width: 100vw;
        height: 100vh;
        position: relative;
    }
}

// Task Object 
.taskObj {
    display: block;
    width: $cardWidth;
    height: $cardHeight;
    border: 4px solid $deepBlue;
    box-shadow: 0 0 60px -32px;
    margin: 72px;

    .tagObj {
        cursor: default;
    }
}

.taskObjWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background: $ourWhite;

    .taskObjUpper, 
    .taskObjLower {
        width: 100%;
        height: 50%;
        position: relative;
    }
    .taskObjTagList {
        width: 100%;
        height: calc(100% - 64px);
        position: absolute;
        top: 0;
        left: 0;
        background: $ourWhite;
        transition: 2s ease;
    }
    .tagListHidden {
        display: none;
        height: 0;
    }
    .title {
        display: inline-block;
        padding: 24px;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 24px;
        font-weight: 600;
    }
    .description {
        padding: 0 24px;
        font-size: 12px;
    }
    button {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
    button:focus {
        outline: none;
    }
    button > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        color: $deepBlue;
        transform-origin: 50% 50%;
        transition: 0.3s ease;
    }
    button > img:hover {
        transform: scale(1.1);
    }
    .toggleTagsBtn {
        margin-left: 8px;
        position: absolute;
        bottom: 0;
        
    }
    .editBtn {
        position: absolute;
        right: 8px;
        bottom: 0;
    }
}

// Task List -- Task List contains several task objects 

#taskList {
    // overflow-y: scroll;
    position: relative;
    .taskObj {
        float: right;
    }
}

// Task Form

#taskForm {
    width: 480px;
    height: 582px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $ourWhite;
    border: 4px solid $deepBlue;
    
    #task,
    #description {
        width: 80%;
        border: none;
        border-bottom: 4px solid $deepBlue;
        background: transparent;
        margin: 24px;
        font-size: 24px;
        
    }

    #task::placeholder,
    #description::placeholder {
        font-size: 24px;
    }

    #task {
        height: 40px;
    }

    #description {
        height: 160px;
        border: 4px solid $deepBlue;
    }

    .tagList {
        height: 160px;
        padding: 0 24px;
        // overflow-y: scroll;
    }
    .formButtonArea {
        width: 80%;
        padding: 0 24px + 8px; 
        margin-top: 24px;
    }
    button {
        float: right;
        padding: 8px 16px;
        color: $ourWhite;
        background: $deepBlue;
        font-size: 16px;
        transition: 0.3s ease;
        cursor: pointer;
    }
    button:hover {
        transform: scale(1.1);
    }
}

.taskEditForm {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // as we did transform on the template, fixed will not work properly.
    // We have to manually transform it back
    transform: translate(300vw, 0);
    background: $ourWhite;
    z-index: 77;
    form {
        width: 480px;
        height: 582px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $ourWhite;
        border: 4px solid $deepBlue;
    }
    input[name='task'] {
        width: 80%;
        height: 40px;
        border: none;
        border-bottom: 4px solid $deepBlue;
        background: transparent;
        margin: 24px;
        font-size: 24px;
        
    }
    textarea[name='description'] {
        width: 80%;
        height: 160px;
        border: none;
        border-bottom: 4px solid $deepBlue;
        background: transparent;
        margin: 24px;
        font-size: 24px;  
        border: 4px solid $deepBlue;
    }

    .tagList {
        height: 160px;
        padding: 0 24px;
        // overflow-y: scroll;
    }
    .formButtonArea {
        width: 80%;
        padding: 0 24px + 8px; 
        margin-top: 24px;
    }
    button {
        float: right;
        padding: 8px 16px;
        margin-left: 24px;
        color: $ourWhite;
        background: $deepBlue;
        font-size: 16px;
        transition: 0.3s ease;
        cursor: pointer;
    }
    button:hover {
        transform: scale(1.1);
    }
    button[name='delete'] {
        background: $ourOrange;
    }
}

// Tag Items  

.tagObj {
    display: inline-block;
    margin: 8px;
    padding: 4px 8px;
    border: 1px solid black;
    background: $ourWhite;
    font-size: 10px;
    cursor: pointer;
}

.tagActive {
    color: $ourWhite;
    background: $ourOrange;
}

.tagInput {
    background: $ourWhite;
}
.tagInput input {
    width: 96px;
    border: none;
    background-color: $ourWhite;
}

// Navigation

#nav{
    display: block;
    width: 100%;
    height: 10%;
    border-top: 0.5px solid rgba(11, 11, 11, 0.5);
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: white;
}

#area-titles {
    display: block;
    width: 20%;
    height: 85%;
    padding-left: 4%;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    overflow: hidden;
    
    #title-scroll {
        width: 100%;
        height: 100%;
        position:relative;
        transform: none;
        transition: 0.5s;
    } 

    .title {
        display: block;
        width: 100%;
        height: 100%;
         
        span {
            display: block;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}

#area-paging {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.area-line {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 20px;
    border-radius: 20px;
    background: grey;
    transition: 1s;
    cursor: pointer;
}

.area-line-active {
    width: 20px;
    height: 5px;
    border-radius: 20px;
    background: black;
}

// Personal Panel

#profile-pic {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#personal-panel {
    position: fixed;
    top: 2%;
    right: 2%;
}

// Auth Pannel

#authPannel {
    position: fixed;
    top: 24px;
    right: 72px;
    font-size: 14px;

    button {
        font-size: 14px;
    }
}

#signInForm, #signUpForm {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: $ourWhite;
    z-index: 107;

    form {
        width: $cardWidth * 1.6;
        height: $cardHeight * 1.6;
        border: 4px solid $deepBlue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);     
    }
    .authTitle {
        display: block;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 32px;
    }
    .inputWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    input {
        display: block;
        width: 240px;
        height: 40px;
        margin: auto;
        margin-bottom: 32px;
        border-radius: 4px;
        border: 4px solid $deepBlue;
        background: transparent;
    }

    input:focus {
        outline: none;
    }
    input::placeholder{
        font-size: 14px;
    }
    button {
        display: block;
        width: 240px + 8px;
        height: 40px + 8px;
        margin: auto;
        margin-bottom: 32px;
        border-radius: 4px;
        font-size: 16px;
        color: $ourWhite;
        background: $deepBlue;
    }

    .closeBtn {
        position: absolute;
        top: 8px;
        right: 8px;
    }
    #closeImg {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
}


// Form Default Text
::placeholder {
    padding: 20px;
}

.closeBtn {
    margin: 2%;
    transform-origin: center center;
}

.bar {
    width: 80%;
    height: 4%;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: grey;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}
.bar::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: grey;
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
}

.closeBtn:hover .bar {
    width: 24px;
    transition: 0.2s ease;
}
.closeBtn:hover .bar::after,
.closeBtn:hover .bar::before{
    background: black;
    transition: 0.2s ease;
}




// Picker 

#picker {

    .deck {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .taskObj {
        float: left;
        // margin: 0;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
    .deckWrapper {
        float: left;
        width: $cardWidth + 8px;
        height: $cardHeight + 8px;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        margin: 72px;
        transition: 1s ease;
    }
    #buttonWrapper {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #pickerButton,
    #excuteBtn {
        width: 177px;
        // position: relative;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        border-radius: 8px;
        color: $ourWhite;
        font-size: 24px;
        padding: 8px 52px;
        background: $deepBlue;
        cursor: pointer;
    }
    #excuteBtn {
        background: $ourOrange;
    }
    #pickerButton{
        margin-bottom: 24px;
    }
    #tagSelectionBtn{
        width: 100%;
        position: absolute;
        margin: 16px 0;
        text-align: center;
        bottom: 0;
        font-size: 12px;
        cursor: pointer;
    }
    img {
        width: 16px;
        height: 16px;
        object-fit: contain;
        vertical-align: middle;
        transition: 0.3s ease;
    }

    .pickerCard {
        width: $cardWidth;
        height: $cardHeight;
        border: 4px solid $deepBlue;
        position: absolute;
        background: $ourWhite;
    }

    .pickerCard:nth-child(2) {
        transform: translate(-16px, -16px);
        .taskObj {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .pickerCard:nth-child(1) {
        transform: translate(-32px, -32px);
    }

    .animatedCard {
        animation: pickerAnimation_card 3s;
    }
    .transparent {
        opacity: 0;
    }
    .isAnimating {
        animation: pickerAnimation_deck 3s;
    }

    // Tag List in picker
    // .tagListWrapper {
    //     width: 80%;
    //     height: $cardWidth + 72px + 32px + 8px + 16px;
    //     margin: auto;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     background: $ourOrange;
    // }
    // .tagList {
    //     width: 50%;
    //     padding: 24px 24px;
    //     position: relative;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);

    //     text-align: center;
    // }
    .tagList {
        width: 100%;
        height: 80%;
        opacity: 0;
    }
}

@keyframes pickerAnimation_card {
    0% {}
    10% { transform: translate(16px, -32px) rotate(4deg) }
    20% { transform: translate(16px, -32px) rotate(4deg) }
    100% {  transform: translate($cardWidth + 8px + 144px, 0px) rotate(0deg) }
}

@keyframes pickerAnimation_deck {
    0% { transform: translate($cardWidth - 44px, 0) }
    20% { transform: translate($cardWidth - 44px, 0) }
    100% {transform: none}
    
}

// Current Task

#currentTask {
    .currentTaskWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .taskObj {
        margin: 0;
    }

    #finBtn {
        display: block;
        width: 177px;
        padding: 8px 36px;
        margin: auto;
        margin-top: 56px;
        border-radius: 8px;
        position: relative;

        color: $ourWhite;
        font-size: 16px;
        
        background: $ourOrange;
    }
}




// testing

.area {
    width: 150px;
    max-width: 150px;
    height: 150px;
    background: pink;

}

.blocks {
    width: 100px;
    height: 100px;
}
.blocks:nth-child(even) {
    background: teal
}
.blocks:nth-child(odd) {
    background: $ourOrange;
}




// Custom Scroll

.rcs-custom-scroll {
    min-height: 0;
    min-width: 0; 
}
.rcs-custom-scroll .rcs-outer-container {
    overflow: hidden; 
}
.rcs-custom-scroll .rcs-outer-container .rcs-positioning {
    position: relative; 
}
.rcs-custom-scroll .rcs-outer-container:hover .rcs-custom-scrollbar {
    opacity: 1;
    transition-duration: 0.2s; 
}
.rcs-custom-scroll .rcs-inner-container {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.rcs-custom-scroll .rcs-inner-container:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, transparent 100%);
    pointer-events: none;
    transition: height 0.1s ease-in;
    will-change: height; 
}
.rcs-custom-scroll .rcs-inner-container.rcs-content-scrolled:after {
    height: 5px;
    transition: height 0.15s ease-out; 
}
.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-inner-container {
    user-select: none; 
}
.rcs-custom-scroll .rcs-custom-scrollbar {
    position: absolute;
    height: 100%;
    width: 6px;
    right: 3px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease-out;
    padding: 6px 0;
    box-sizing: border-box;
    will-change: opacity;
    pointer-events: none; 
}
.rcs-custom-scroll .rcs-custom-scrollbar.rcs-custom-scrollbar-rtl {
    right: auto;
    left: 3px; 
}
.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-custom-scrollbar {
    opacity: 1; 
}
.rcs-custom-scroll .rcs-custom-scroll-handle {
    position: absolute;
    width: 2px;
    top: 0; 
}
.rcs-custom-scroll .rcs-inner-handle {
    height: 100%;
    margin-top: 6px;
    background-color: $deepBlue;
    border-radius: 3px; 
}


