html, body {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Cabin";
}

body {
  overflow: hidden;
  background: #F6F7F8;
}

a:link,
a:visited,
a:active {
  color: #003049;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: #F6F7F8;
}

textarea:focus {
  outline: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

#template {
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

#template ul {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#template .mainArea > div {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.tagObj {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.taskObj {
  display: block;
  width: 272px;
  height: 330px;
  border: 4px solid #003049;
  -webkit-box-shadow: 0 0 60px -32px;
  box-shadow: 0 0 60px -32px;
  margin: 48px;
}

.taskObj .tagObj {
  cursor: default;
}

.taskObjWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: #F6F7F8;
}

.taskObjWrapper .taskObjUpper,
.taskObjWrapper .taskObjLower {
  width: 100%;
  height: 50%;
  position: relative;
}

.taskObjWrapper .taskObjTagList {
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
  top: 0;
  left: 0;
  background: #F6F7F8;
  -webkit-transition: 2s ease;
  -o-transition: 2s ease;
  transition: 2s ease;
}

.taskObjWrapper .tagListHidden {
  display: none;
  height: 0;
}

.taskObjWrapper .title {
  display: inline-block;
  padding: 24px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 24px;
  font-weight: 600;
}

.taskObjWrapper .description {
  padding: 0 24px;
  font-size: 12px;
  line-height: 20px;
}

.taskObjWrapper button {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.taskObjWrapper button:focus {
  outline: none;
}

.taskObjWrapper button > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  color: #003049;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.taskObjWrapper button > img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.taskObjWrapper .toggleTagsBtn {
  margin-left: 8px;
  position: absolute;
  bottom: 0;
}

.taskObjWrapper .editBtn {
  position: absolute;
  right: 8px;
  bottom: 0;
}

#taskList {
  position: relative;
}

#taskList .taskWrapper {
  float: right;
  width: 80%;
  height: calc(100% - 64px);
  padding-top: 64px;
}

#taskList .taskObj {
  float: left;
}

#taskForm {
  width: 480px;
  height: 582px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #F6F7F8;
  border: 4px solid #003049;
}

#taskForm #task,
#taskForm #description {
  width: 80%;
  border: none;
  border-bottom: 4px solid #003049;
  background: transparent;
  margin: 24px;
  font-size: 24px;
}

#taskForm #task::-webkit-input-placeholder,
#taskForm #description::-webkit-input-placeholder {
  font-size: 24px;
}

#taskForm #task:-ms-input-placeholder,
#taskForm #description:-ms-input-placeholder {
  font-size: 24px;
}

#taskForm #task::-ms-input-placeholder,
#taskForm #description::-ms-input-placeholder {
  font-size: 24px;
}

#taskForm #task::placeholder,
#taskForm #description::placeholder {
  font-size: 24px;
}

#taskForm #task {
  height: 40px;
}

#taskForm #description {
  height: 160px;
  border: 4px solid #003049;
}

#taskForm .tagList {
  height: 160px;
  padding: 0 24px;
}

#taskForm .formButtonArea {
  width: 80%;
  padding: 0 32px;
  margin-top: 24px;
}

#taskForm button {
  float: right;
  padding: 8px 16px;
  color: #F6F7F8;
  background: #003049;
  font-size: 16px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

#taskForm button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.taskEditForm {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(300vw, 0);
  -ms-transform: translate(300vw, 0);
  transform: translate(300vw, 0);
  background: #F6F7F8;
  z-index: 77;
}

.taskEditForm form {
  width: 480px;
  height: 582px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #F6F7F8;
  border: 4px solid #003049;
}

.taskEditForm input[name='task'] {
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 4px solid #003049;
  background: transparent;
  margin: 24px;
  font-size: 24px;
}

.taskEditForm textarea[name='description'] {
  width: 80%;
  height: 160px;
  border: none;
  border-bottom: 4px solid #003049;
  background: transparent;
  margin: 24px;
  font-size: 24px;
  border: 4px solid #003049;
}

.taskEditForm .tagList {
  height: 160px;
  padding: 0 24px;
}

.taskEditForm .formButtonArea {
  width: 80%;
  padding: 0 32px;
  margin-top: 24px;
}

.taskEditForm button {
  float: right;
  padding: 8px 16px;
  margin-left: 24px;
  color: #F6F7F8;
  background: #003049;
  font-size: 16px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.taskEditForm button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.taskEditForm button[name='delete'] {
  background: #F77F00;
}

.tagObj {
  display: inline-block;
  margin: 8px;
  padding: 4px 8px;
  border: 1px solid #003049;
  background: #F6F7F8;
  font-size: 10px;
  cursor: pointer;
}

.tagActive {
  color: #F6F7F8;
  background: #F77F00;
}

.tagInput {
  background: #F6F7F8;
}

.tagInput img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  -o-object-fit: contain;
  object-fit: contain;
}

.tagInput input {
  width: 96px;
  border: none;
  background-color: #F6F7F8;
}

#nav {
  display: block;
  width: 50%;
  height: 12%;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: transparent;
}

#area-titles {
  display: block;
  float: left;
  height: 85%;
  margin-left: 48px;
  margin-right: 24px;
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#area-titles #title-scroll {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#area-titles .title {
  display: block;
  width: 100%;
  height: 100%;
}

#area-titles .title span {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #003049;
  font-weight: 600;
}

#area-paging {
  display: block;
  float: left;
  height: 85%;
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#area-paging .pagingWrapper {
  position: relative;
  top: 52%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.area-line {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 8px;
  border-radius: 3px;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  background: #8BA0AC;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.area-line:hover {
  width: 12px;
}

.area-line-active {
  width: 12px;
  height: 6px;
  border-radius: 20px;
  background: #003049;
}

#profile-pic {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#personal-panel {
  position: fixed;
  top: 2%;
  right: 2%;
}

#header span {
  position: fixed;
  top: 24px;
  left: 48px;
  font-weight: 600;
  color: #8BA0AC;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header span:hover {
  color: #003049;
}

#authPannel {
  position: fixed;
  top: 24px;
  right: 48px;
  font-size: 14px;
  color: #8BA0AC;
}

#authPannel button,
#authPannel a {
  font-size: 14px;
  color: #8BA0AC;
}

#authPannel button:hover,
#authPannel a:hover {
  color: #003049;
}

#authPannel a {
  padding: 0 4px;
}

#signInForm, #signUpForm {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #F6F7F8;
  z-index: 107;
}

#signInForm form, #signUpForm form {
  width: 435.2px;
  height: 528px;
  border: 4px solid #003049;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#signInForm .authTitle, #signUpForm .authTitle {
  display: block;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 32px;
}

#signInForm .inputWrapper, #signUpForm .inputWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#signInForm input, #signUpForm input {
  display: block;
  width: 240px;
  height: 40px;
  margin: auto;
  margin-bottom: 32px;
  border-radius: 4px;
  border: 4px solid #003049;
  background: transparent;
}

#signInForm input:focus, #signUpForm input:focus {
  outline: none;
}

#signInForm input::-webkit-input-placeholder, #signUpForm input::-webkit-input-placeholder {
  font-size: 14px;
}

#signInForm input:-ms-input-placeholder, #signUpForm input:-ms-input-placeholder {
  font-size: 14px;
}

#signInForm input::-ms-input-placeholder, #signUpForm input::-ms-input-placeholder {
  font-size: 14px;
}

#signInForm input::placeholder, #signUpForm input::placeholder {
  font-size: 14px;
}

#signInForm button, #signUpForm button {
  display: block;
  width: 248px;
  height: 48px;
  margin: auto;
  margin-bottom: 32px;
  border-radius: 4px;
  font-size: 16px;
  color: #F6F7F8;
  background: #003049;
}

#signInForm .closeBtn, #signUpForm .closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
}

#signInForm #closeImg, #signUpForm #closeImg {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
  object-fit: contain;
}

#signInForm .errMsg, #signUpForm .errMsg {
  width: 100%;
  margin: 16px 0;
  position: absolute;
  bottom: 0;
  color: #D0104C;
  text-align: center;
  font-size: 14px;
}

::-webkit-input-placeholder {
  padding: 20px;
}

:-ms-input-placeholder {
  padding: 20px;
}

::-ms-input-placeholder {
  padding: 20px;
}

::placeholder {
  padding: 20px;
}

.closeBtn {
  margin: 2%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.bar {
  width: 80%;
  height: 4%;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bar::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: grey;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bar::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: grey;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#picker .deck {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#picker .taskObj {
  float: left;
  margin: 0 72px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#picker .deckWrapper {
  float: left;
  width: 280px;
  height: 338px;
  margin: 72px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

#picker #buttonWrapper {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#picker #pickerButton,
#picker #excuteBtn {
  width: 177px;
  border-radius: 8px;
  color: #F6F7F8;
  font-size: 24px;
  padding: 8px 52px;
  background: #003049;
  cursor: pointer;
}

#picker #excuteBtn {
  background: #F77F00;
}

#picker #pickerButton {
  margin-bottom: 24px;
}

#picker #tagSelectionBtn {
  width: 100%;
  position: absolute;
  margin: 16px 0;
  text-align: center;
  bottom: 0;
  font-size: 12px;
  cursor: pointer;
}

#picker img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: middle;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#picker .flip {
  -webkit-transform: rotate(180deg) translate(0, 16%);
  -ms-transform: rotate(180deg) translate(0, 16%);
  transform: rotate(180deg) translate(0, 16%);
}

#picker .pickerCard {
  width: 272px;
  height: 330px;
  border: 4px solid #003049;
  position: absolute;
  background: #F6F7F8;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

#picker .deckWrapper:hover .pickerCard:nth-child(1) {
  -webkit-transform: rotate(-4deg) translate(-40px, -40px);
  -ms-transform: rotate(-4deg) translate(-40px, -40px);
  transform: rotate(-4deg) translate(-40px, -40px);
}

#picker .deckWrapper:hover .pickerCard:nth-child(2) {
  -webkit-transform: rotate(-2deg) translate(-20px, -20px);
  -ms-transform: rotate(-2deg) translate(-20px, -20px);
  transform: rotate(-2deg) translate(-20px, -20px);
}

#picker .pickerCard:nth-child(2) {
  -webkit-transform: translate(-16px, -16px);
  -ms-transform: translate(-16px, -16px);
  transform: translate(-16px, -16px);
}

#picker .pickerCard:nth-child(2) .taskObj {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#picker .pickerCard:nth-child(1) {
  -webkit-transform: translate(-32px, -32px);
  -ms-transform: translate(-32px, -32px);
  transform: translate(-32px, -32px);
}

#picker .animatedCard {
  -webkit-animation: pickerAnimation_card 3s;
  animation: pickerAnimation_card 3s;
}

#picker .transparent {
  opacity: 0;
}

#picker .isAnimating {
  -webkit-animation: pickerAnimation_deck 3s;
  animation: pickerAnimation_deck 3s;
}

#picker .tagList {
  width: 100%;
  height: 80%;
  opacity: 0;
}

#picker .tagObj {
  cursor: default;
}

@-webkit-keyframes pickerAnimation_card {
  0% {
  }
  10% {
    -webkit-transform: translate(16px, -32px) rotate(4deg);
    transform: translate(16px, -32px) rotate(4deg);
  }
  20% {
    -webkit-transform: translate(16px, -32px) rotate(4deg);
    transform: translate(16px, -32px) rotate(4deg);
  }
  100% {
    -webkit-transform: translate(424px, 0px) rotate(0deg);
    transform: translate(424px, 0px) rotate(0deg);
  }
}

@keyframes pickerAnimation_card {
  0% {
  }
  10% {
    -webkit-transform: translate(16px, -32px) rotate(4deg);
    transform: translate(16px, -32px) rotate(4deg);
  }
  20% {
    -webkit-transform: translate(16px, -32px) rotate(4deg);
    transform: translate(16px, -32px) rotate(4deg);
  }
  100% {
    -webkit-transform: translate(424px, 0px) rotate(0deg);
    transform: translate(424px, 0px) rotate(0deg);
  }
}

@-webkit-keyframes pickerAnimation_deck {
  0% {
    -webkit-transform: translate(212px, 0);
    transform: translate(212px, 0);
  }
  20% {
    -webkit-transform: translate(212px, 0);
    transform: translate(212px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pickerAnimation_deck {
  0% {
    -webkit-transform: translate(212px, 0);
    transform: translate(212px, 0);
  }
  20% {
    -webkit-transform: translate(212px, 0);
    transform: translate(212px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

#currentTask .currentTaskWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#currentTask .taskObj {
  margin: 0;
}

#currentTask #finBtn {
  display: block;
  width: 177px;
  padding: 8px 36px;
  margin: auto;
  margin-top: 56px;
  border-radius: 8px;
  position: relative;
  color: #F6F7F8;
  font-size: 16px;
  background: #F77F00;
}

.area {
  width: 150px;
  max-width: 150px;
  height: 150px;
  background: pink;
}

.blocks {
  width: 100px;
  height: 100px;
}

.blocks:nth-child(even) {
  background: teal;
}

.blocks:nth-child(odd) {
  background: #F77F00;
}

.rcs-custom-scroll {
  min-height: 0;
  min-width: 0;
}

.rcs-custom-scroll .rcs-outer-container {
  overflow: hidden;
}

.rcs-custom-scroll .rcs-outer-container .rcs-positioning {
  position: relative;
}

.rcs-custom-scroll .rcs-outer-container:hover .rcs-custom-scrollbar {
  opacity: 1;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.rcs-custom-scroll .rcs-inner-container {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.rcs-custom-scroll .rcs-inner-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(60%, rgba(0, 0, 0, 0.05)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, transparent 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, transparent 100%);
  pointer-events: none;
  -webkit-transition: height 0.1s ease-in;
  -o-transition: height 0.1s ease-in;
  transition: height 0.1s ease-in;
  will-change: height;
}

.rcs-custom-scroll .rcs-inner-container.rcs-content-scrolled:after {
  height: 5px;
  -webkit-transition: height 0.15s ease-out;
  -o-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out;
}

.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-inner-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rcs-custom-scroll .rcs-custom-scrollbar {
  position: absolute;
  height: 100%;
  width: 6px;
  right: 3px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  padding: 6px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  will-change: opacity;
  pointer-events: none;
}

.rcs-custom-scroll .rcs-custom-scrollbar.rcs-custom-scrollbar-rtl {
  right: auto;
  left: 3px;
}

.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-custom-scrollbar {
  opacity: 1;
}

.rcs-custom-scroll .rcs-custom-scroll-handle {
  position: absolute;
  width: 2px;
  top: 0;
}

.rcs-custom-scroll .rcs-inner-handle {
  height: 100%;
  margin-top: 6px;
  background-color: #003049;
  border-radius: 3px;
}
